@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

@theme {
  --font-rubik: "Rubik";
  --font-poppins: "Poppins";
  --font-start: "Press Start 2P";
  --font-honk: "Honk";
  --color-blue1: "bg-green-800";
}

/* Reusable Styling */

@layer components {
  /* cards for register and login */
  .auth-card-mobile {
    @apply card w-10/12 bg-base-100 card-sm shadow-sm flex justify-center;
  }

  .auth-card-desktop {
    @apply card md:w-3/12 bg-base-100 card-sm shadow-sm flex justify-center;
  }

  .header-text {
    @apply text-[1.6rem] text-blue-200 font-bold font-start md:text-[4rem];
  }
}

/* @utility btn-primary {
  @apply blue;
} */
