@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

@theme {
  --font-rubik: "Rubik";
  --font-poppins: "Poppins";
  --font-start: "Press Start 2P";
  --font-honk: "Honk";
}

/* Reusable Styling */

@layer components {
  /* cards for register and login */
  .auth-card-mobile {
    @apply card w-10/12 bg-base-100 card-xs shadow-sm flex justify-center;
  }
}
